* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: blue;
}
footer{
    background-color: blue;
    position: relative;
}
.div-index{
    background-color: rgb(167, 118, 53);
    margin: 15px;
}
.sectio-index{
    margin: 2px;
    text-align: center;
}